body header{
    border-bottom: 1.5px solid;
    margin: 0px;
}
body .chocolate .chocolateDetail img{
    width: 300px;
    height: 260px;
    margin-right: 20px;
}
body .chocolate .chocolateDetail h2:first-child{
    margin: 1px;
}
body .chocolate{
    margin-left: 40px;
    margin-bottom: 60px;
}
body .chocolate .chocolateDetail .detail{
    padding-right: 100px;
}
body .chocolate .chocolateDetail{
    display: flex;
}

body .chocolate .chocolateDetail p{
    text-align: justify;
}

body .BuyNow a{
    background-color :white;
    color: black;
    border: slategray;
    border-style: solid;
    border-width: 2px;
    transition: 0.3s ease;
    padding: 20px 60px;
    position: absolute;
    right: 60px;    
    text-decoration: none;
}

body .BuyNow a:hover{
    background-color: black;
    color :white;
}